
.reset-container input{
    height: 100%;
    background-color: #0a6bff;
    color:white;
    box-shadow: 0 0 7px var(--shadow-color);
    height:45px;
    width:120px;
    margin-right: 10%;
    font-weight: var(--filtre-carte-weight);
    transition: all 0.3s ease-in-out;
    border-radius: 6px;
    font-family: inherit;
    cursor: pointer;
    border:none;
}

.reset-container input:hover{
    
    background-color: #065dd8;
    transform: translateY(-2px);
}





.select-btn{
    display: flex;
    height: 40px;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
    border-radius: 8px;
    cursor: pointer;
    background-color: #f5f5f5;
    border:1px solid #6e93f7;
    width:60%;
}

.select-btn.open{
    -moz-box-shadow: 0 0 5px #0a6bff;
    -webkit-box-shadow: 0 0 5px #0a6bff;
    box-shadow: 0 0 5px #0a6bff;
}
.select-btn .btn-text{
    font-size: 15px;
    font-weight: 400;
    color: #333;
}
.select-btn .arrow-dwn{
    display: flex;
    height: 21px;
    width: 21px;
    color: #fff;
    font-size: 14px;
    border-radius: 50%;
    background: #6e93f7;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
}
.select-btn.open .arrow-dwn{
    transform: rotate(-180deg);
}

.list-items{
    position: relative;
    margin-top: 5px;
    border-radius: 8px;
    padding: 5px;
    padding-left:0;
    padding-right:0;
    
    
    display: none;
    z-index: 100;
}
.select-btn.open ~ .list-items{
    display: block;
    
  
}
.list-items .item{
    display: flex;
    align-items: center;
    list-style: none;
    height: 35px;
    cursor: pointer;
    transition: 0.3s;
    padding: 0 15px;
    border-radius: 0px ;
    background-color: #efefef;
    border-bottom: solid var(--shadow-color) 1px;
    
  
}

.list-items .item:hover{
    background-color: var(--graph-text-bg-hover);
    transform: translateY(-2px);

}


.list-items li{
    border-radius: 0;
    
}


.item .item-text{
    font-size: 14px;
    font-weight: 100;
    color: #333;
}
.item .checkbox{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 16px;
    width: 16px;
    border-radius: 4px;
    margin-right: 12px;
    border: 1.5px solid #c0c0c0;
    transition: all 0.3s ease-in-out;
}
.checkbox .check-icon{
    font-size: 11px;
    transform: scale(0);
        transition: all 0.3s ease-in-out;

}
.item.checked .check-icon{
    transform: scale(1);
}

.item.checked{
    background-color: var(--graph-text-bg-hover) ;
}
.list-items li{
    background-color: #fff;
}



/*side bar*/


.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    right: 0;
    background-color: #142E7B; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    
  }
.sidebar-container{
    border-top:1px solid rgba(255,255,255,.1);;
}
  
  /* The navigation menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 15px;
    color: white;
    display: block;
    transition: 0.3s;
  }


  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: white;
    background-color: #0a6bff;
  }
  
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 36px;
    
  }

  #sidebarCarte{
    background-color: #0a6bff;
  }
  



  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */

  
