@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');

/* utiliser le font de google Roboto*/


/*definir des constantes couleur font...*/
:root{
    --header-bg:#14227b;
    --header-title-hover:#0677da;
    --header-title-border-hover:#dee5ef;
    --section-bg:#f5f5f5;
    --section-border:#DEE5EF;
    --section-filtre-bg:#a1b0b8;
    --graph-text-bg-hover:#b4dbd6;
    --table-hover-bg:#cacbce;
    --telecharger-bg-hover:#c4302b;
    --shadow-color:rgba(000,000,000,0.3);
    --filtre-carte-color:#565656;
    --filtre-carte-bg:#e5e5e5;
    --filtre-border-color:#ccc;
    --graph-border-color:rgba(0,0,0,.15);
    --text-title-weight:700;
    --filtre-carte-weight:600;
    --text-font-small:15px;
    --text-font-large:20px;

    
}

html{  
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    font-size: var(--text-font-small);
    margin:0;
    height: 100%;
    
   

}


@media screen and (max-width: 768px) {   /*s'applique aux ecrants avec une largeur <768px */
    .graph-text-container button{
        display:none;  /*cacher le boutton graph*/
    }

    .table-annee-container{
        display: none; /*cacher le tableau*/
    }
    footer{
        flex-direction: column;
    }

    footer div{
        justify-content: center;
        align-items: center;
        width:100%;
    }

    .contactez-nous-container ul,.liens-utils-container ul{
        align-items: center;
        padding-right:5%
      

    }

    .anc-title{
        flex-grow: 2;
    }

    .anc-sous-titre{
        display: none;
    }

}

@media screen and (max-width: 576px) {   /*s'applique aux ecrants avec une largeur <768px */

    .telecharger-container img{
        display: none; /*cacher l'image dans le boutton télécharger*/
    }

    .graph-filtres-container{
        width:90%;   /*le graph prend 90% de la largeur de graph-table-container*/
    }








}
     
        

@media screen and (min-width:768px){   /*s'applique aux ecrants avec une largeur >768px */
    .graph-filtres-container{
        width:60%;  /*le tableau prend 60% de la largeur*/
    }

    .table-annee-container{             /*afficher le tableau*/
        display: flex;
        flex-direction: column;
    }   
    
    footer div{
        width:30%;
    }

    footer ul{
        padding-right:10%;
       
        
    }

    footer span{
        justify-content: center;
    }

    .open-nav{
        display:none;
    }

    


}



   
    


