/* animation pour la section */





section{

    margin:2%; /*decaler la section de 2% */
    margin-top:12%; /*decaler la section de 12% du header  pour que le header soit visible*/
    height: 700px;
    display:flex;
    flex-direction: column;
    justify-content:flex-start;  
    
}

.graph-text-container{
    display: flex;
    height: 5%;   /*le div du button graph prend 5% de la longeur de section*/
    justify-content: flex-start;
    align-items: end; /*aligner le button vers le bas pour qu'il soit coller au graph-table-container*/

    
}





.graph-table-container{
    display: flex;
    flex-direction:row;
    border:solid 1px var(--section-border);
    background-color: var(--section-bg);
    justify-content: space-around;
    padding-top:3%;
    height: 80%; /*le div du graph et du tableau prend 90% de la hauteur de section*/

    
    

}




.graph-filtres-container{
    display: flex;
    flex-direction: column;
    height:90%; /*le div prend 90% de la hauteur du graph-table-container */
    transition: 0.3s all ease;
    -moz-box-shadow: 0 0 7px var(--shadow-color);
    -webkit-box-shadow: 0 0 7px var(--shadow-color);
    box-shadow: 0 0 7px var(--shadow-color);
}



.filtres-container{
    display:grid;
    grid-template-rows: 50% 50%; /*chaque filtre prend 50% de la longeur et 30% de la largeur  du filtres-container*/
    grid-template-columns: 30% 30%;
    justify-content: space-around;
    align-items: center;
    background-color: var(--section-filtre-bg);
    height: 30%; /*le div prend 30% de la hauteur du graph-filtres-container*/
    width:100%;

}






.graph-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #dee5ef;
    height:70%; /*le graaph prend 70% de la longeur du graph-filtre-container*/
}




.table-annee-container{
    height:90%; /*le tableau prend 90% de la hauteur du graph-table-container*/
    width: 30%; /*le tableau prend 30% de la largeur du graph-table-container*/
    transition: 0.3s all ease;


}

.table-container{
    width:100%;
    height: 100%;
    overflow-y: scroll;
    background-color: #fff;
    -moz-box-shadow: 0 0 7px var(--shadow-color);
    -webkit-box-shadow: 0 0 7px var(--shadow-color);
    box-shadow: 0 0 7px var(--shadow-color);
}




.annee-container{

    display: flex;
    justify-content: flex-end;
    height: 10%; /*div prend 10% de la hauteur du table-annee-container*/
    margin-right:5%;
}








.telecharger-container{
    display: flex;
    height: 10%; /*le div prend 10% de la hauteur de la section*/
    align-items: end;
    justify-content: end;
    flex-direction: column;
    margin-right:8%; /*ajouter de l'espace a droite*/

}











