/* le style du tableau */



thead{
    background-color: var(--section-filtre-bg);
    height:10%;
}

table{
    border-collapse: collapse;
    font-size: 17px;
    width: 100%;
}

td{
    text-align: center;
}






tr:nth-child(even){
    background-color: var(--header-title-border-hover);
}

tbody tr:hover{
    background-color: var(--table-hover-bg);
}


table{
    flex-basis: 90%; /*le tableau prend 90% de l'espace de table-annee-container*/
}